@import 'Editor/_wickbrand.scss';

$canvas-action-size: 35px;

.canvas-actions-widget {
  height: $canvas-action-size;
  display: flex;
  align-items: center;
  margin: 1px;
}
.canvas-actions-widget.vertical {
  height: unset;
}

.actions-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions-container.vertical {
  flex-direction: column;
}

.canvas-action-button {
  width: $canvas-action-size;
  height: $canvas-action-size;
  padding: 2px;
}
