/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import './_wickbrand.scss';

$menu-bar-height: 50px;
$tool-box-width: 50px;

body {
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100%;
  background-color: red;
}

#menu-bar-container {
  width: 100%;
  height: 50px;
  background-color: green;
}

#editor-body {
  width: 100%;
  height: calc(100% - #{$menu-bar-height};
  background-color: blue;
  overflow: hidden;
}

#tool-box-container {
  height: 100%;
  width: $tool-box-width;
  background-color: $interface-primary;
  display: inline-block;
}

#flexible-container {
  height: calc(100% - #{$menu-bar-height});
  width: 100%;
  background-color: #AAA;
  display: inline-block;
  position: absolute;
  top: #{$menu-bar-height};
}

.center-container {
  background-color: #ffaabb;
}

.right-container {
  background-color: #aabbcc;
}

.right-reflex-container {
  height: 100%;
  background-color: #aabbcc;
}

/* Basic re-flex panel/splitter styling */

.reflex-element {
  overflow: hidden !important;
}

.handle {
  background: #eae9e9;
  padding: 8px 0 0 8px;
  height: 28px;
}

.reflex-splitter {
  transition: background-color 0.5s ease !important;
  background-color: $interface-secondary !important;
}
.reflex-splitter:hover {
    background-color: $interface-tertiary !important;
}

.reflex-layout.vertical > .reflex-splitter {
    border-right: 0px solid #c6c6c6 !important;
    border-left: 0px solid #c6c6c6 !important;
    width: 12px !important;
}

.reflex-layout.horizontal > .reflex-splitter {
  border-top: 0px solid #c6c6c6 !important;
  border-bottom: 0px solid #c6c6c6 !important;
  height: 12px !important;
}

.reflex-splitter {
  background-image: url('../resources/interface/gnurl-horizontal.png');
  background-repeat: no-repeat;
  background-position: center;
}
