// @import 'bootstrap';
// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Define Color Scheme
// Default palette
$heather-grey: #F5F5F5;
$heather-grey-light: #F9F9F9;
$heather-grey-dark: #EAEAEA;

$wick-green: #00D9A7;
$wick-green-light: #29F1A3;
$wick-green-dark: #01C094;

$sleepy-sky: #B4ECE6;
$sleepy-sky-light: #D3F8F4;
$sleepy-sky-dark: #8DDED6;

$deep-cereulian: #101DA5;
$deep-cereulian-light: #2636E1;
$deep-cereulian-dark: #010A6F;

$old-navy: #08105B;
$old-navy-light: #182387;
$old-navy-dark: #000640;

$magenta: #CB00E4;
$magenta-light: #E233F7;
$magenta-dark: #B800CF;

$flame: #F55A23;
$flame-light: #FF7848;
$flame-dark: #E6460E;

// interface palette
$interface-primary: #464646; // most background colors
$interface-primary-text: #FFFFFF; // most text

$interface-secondary: #535353; // interface title headers, some backgrounds
$interface-secondary-text: #ADADAD; // some text

$interface-tertiary: #919191; // search bars
$interface-tertiary-text: #626262; // search text

$interface-quaternary: #C4C4C4; // interface background highlights

$interface-input-background: #FFFFFF;
$interface-input-text: #535353;

$interface-selection: $wick-green-dark;
$interface-hover: $wick-green;
$interface-highlight: $wick-green-light;

$interface-tooltip: $sleepy-sky;
$interface-tooltip-dark: $sleepy-sky-dark;
$interface-tooltip-light: $sleepy-sky-light;

$interface-tooltip-text: #222222;

$interface-spotlight: $magenta;
$interface-spotlight-dark: $magenta-dark;
$interface-spotlight-light: $magenta-light;

$interface-spotlight-text: #FFFFFF;

$interface-warning: $flame;
$interface-warning-dark: $flame-dark;
$interface-warning-light: $flame-light;

$interface-warning-text: #FFFFFF;

// define Bootstrap 4 button Mixins
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-wick-warning {
  background: $interface-warning;
  border: $interface-warning;
  color: #FFFFFF
}
.btn-wick-warning:hover {
  background: darken($interface-warning, 7.5%);
  border: darken($interface-warning, 7.5%);
}
.btn-wick-warning:active {
  background: darken($interface-warning, 12.5%);
  border: darken($interface-warning, 12.5%);
}

.btn-wick-accept {
  background: $wick-green;
  border: $wick-green;
  color: #FFFFFF;
  font-weight: bold;
}
.btn-wick-accept:hover {
  background: darken($wick-green, 7.5%);
  border: darken($wick-green, 7.5%);
}
.btn-wick-accept:active {
  background: darken($wick-green, 12.5%);
  border: darken($wick-green, 12.5%);
}
// define interface element properties

$interface-roundness-primary: 2px;
$interface-roundness-secondary: 4px;
$interface-input-roundness: 5px;
