/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Define Color Scheme
// Default palette
$heather-grey: #F5F5F5;
$heather-grey-light: #F9F9F9;
$heather-grey-dark: #EAEAEA;
$heather-grey-text: black;

$wick-green: #00D9A7;
$wick-green-light: #29F1A3;
$wick-green-dark: #01C094;
$wick-green-text: black;

$sleepy-sky: #B4ECE6;
$sleepy-sky-light: #D3F8F4;
$sleepy-sky-dark: #8DDED6;
$sleepy-sky-text: black;

$deep-cereulian: #101DA5;
$deep-cereulian-light: #2636E1;
$deep-cereulian-dark: #010A6F;
$deep-cereulian-text: white;

$old-navy: #08105B;
$old-navy-light: #182387;
$old-navy-dark: #000640;
$old-navy-text: white;

$magenta: #CB00E4;
$magenta-light: #E233F7;
$magenta-dark: #B800CF;
$magenta-text: white;

$flame: #F55A23;
$flame-light: #FF7848;
$flame-dark: #E6460E;
$flame-text: white;

$wick-red: #FD384C;
$wick-red-light: #FF5372;
$wick-red-dark: #E61E07;
$wick-red-text: white;

$wick-yellow: #FFC835;
$wick-yellow-light: #FFE243;
$wick-yellow-dark: #E9AA02;
$wick-yellow-text: black;

// interface palette
$interface-primary: #464646; // most background colors
$interface-primary-text: #FFFFFF; // most text

$interface-secondary: #535353; // interface title headers, some backgrounds
$interface-secondary-text: #ADADAD; // some text

$interface-tertiary: #919191; // search bars
$interface-tertiary-text: #626262; // search text

$interface-quaternary: #C4C4C4; // interface background highlights

$interface-input-background: #FFFFFF;
$interface-input-text: #535353;

$interface-selection: $wick-green-dark;
$interface-hover: $wick-green;
$interface-highlight: $wick-green-light;

$interface-tooltip: $sleepy-sky;
$interface-tooltip-dark: $sleepy-sky-dark;
$interface-tooltip-light: $sleepy-sky-light;

$interface-tooltip-text: #222222;

$interface-spotlight: $magenta;
$interface-spotlight-dark: $magenta-dark;
$interface-spotlight-light: $magenta-light;

$interface-spotlight-text: #FFFFFF;


$interface-warning: $flame;
$interface-warning-dark: $flame-dark;
$interface-warning-light: $flame-light;

$interface-warning-text: #FFFFFF;

$interface-menu-bar-background: black;

// define Bootstrap 4 button Mixins
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-wick-warning {
  background: $interface-warning-dark;
  border: $interface-warning-dark;
  color: #000;
}
.btn-wick-warning:hover {
  background: darken($interface-warning-dark, 7.5%);
  border: darken($interface-warning-dark, 7.5%);
}
.btn-wick-warning:active {
  background: darken($interface-warning-dark, 12.5%);
  border: darken($interface-warning-dark, 12.5%);
}

.btn-wick-accept {
  background: $wick-green-dark;
  border: $wick-green-dark;
  color: #000;
}
.btn-wick-accept:hover {
  background: darken($wick-green-dark, 7.5%);
  border: darken($wick-green-dark, 7.5%);
}
.btn-wick-accept:active {
  background: darken($wick-green-dark, 12.5%);
  border: darken($wick-green-dark, 12.5%);
}
// define interface element properties
$splitter-size: 6px;
$splitter-color: $interface-tertiary-text;
$splitter-highlight-color: $interface-tertiary;

$interface-roundness-primary: 2px;
$interface-roundness-secondary: 4px;
$interface-input-roundness: 5px;

$docked-title-height: 26px;
$docked-margin: 6px;
