// editorTheme.scss
$heather-grey: #F5F5F5;
$heather-grey-light: #F9F9F9;
$heather-grey-dark: #EAEAEA;

$wick-green: #00D9A7;
$wick-green-light: #29F1A3;
$wick-green-dark: #01C094;

$sleepy-sky: #B4ECE6;
$sleepy-sky-light: #D3F8F4;
$sleepy-sky-dark: #8DDED6;

$deep-cereulian: #101DA5;
$deep-cereulian-light: #2636E1;
$deep-cereulian-dark: #010A6F;

$old-navy: #08105B;
$old-navy-light: #182387;
$old-navy-dark: #000640;

$magenta: #CB00E4;
$magenta-light: #E233F7;
$magenta-dark: #B800CF;

$flame: #F55A23;
$flame-light: #FF7848;
$flame-dark: #E6460E;

$interface-veryDark: #111111;
$interface-deepDark: #373737;
$interface-dark: #464646;
$interface-midDark: #606060;
$interface-medium: #888888;

$interface-veryDark-text: var($heather-gray-dark);
