@import 'Editor/_wickbrand.scss';
@import '../_wickcodedetailspanel.scss';

.code-editor-selection-preview {
  width: 100%;
  height: 100%;
}

.code-editor-thumbnail-preview {
  width: $code-editor-details-width;
  height: $code-editor-thumbnail-height;
  background-color: pink;
  float: none;
  flex-grow: 0;
  flex-shrink: 0;
}
