/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';
@import '../_toolbox.scss';

$tool-button-container-width: $toolbox-min-button-size;
$tool-button-container-height: $toolbox-min-button-size;
$tool-button-select-container-height: $tool-button-container-height;

.tool-button-container {
  width: $tool-button-container-width;
  height: $tool-button-container-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tool-button-select-container {
  width: $tool-button-select-container-height;
  height: $tool-button-select-container-height;
}
