<html>
<head>
    <meta charset="utf-8">
    <title>paper.js Selection Example</title>
    <style>
      html, body {
        background-color: #555;
      }
      #paper-canvas {
        width: 500px;
        height: 500px;
        background-color: white;
      }
    </style>
</head>
<body>
  <canvas id="paper-canvas">
</body>

<script src="../../../lib/paper.js"></script>
<script src="Paper.Selection.js"></script>
<script src="Paper.SelectionGUI.js"></script>

<script>
window.onload = () => {
    paper.setup(document.getElementById('paper-canvas'));
    paper.view.center = new paper.Point(0, 0);

    /*for(var i = 1; i <= 3; i++) {
        var rect = new paper.Path.Ellipse({
            center: new paper.Point(
                Math.random()*400+50,
                Math.random()*400+50,
            ),
            radius: Math.random() * 25 + 30,
            fillColor: ['red','#00ff00','cyan','yellow','orange','blue','green'][Math.floor(Math.random()*7)],
            strokeColor: 'black',
        });
        window['rect' + i] = rect;
    }*/

    window.path1 = new paper.Path.Ellipse({
        center: new paper.Point(25,25),
        radius: 25,
        fillColor: '#ff0000',
        applyMatrix: true,
    });

    window.path2 = new paper.Path.Ellipse({
        center: new paper.Point(75,25),
        radius: 25,
        fillColor: '#00ff00',
        applyMatrix: true,
    });

    window.path3 = new paper.Group({
        children: [
            new paper.Path.Ellipse({
                center: new paper.Point(0,0),
                radius: 25,
                fillColor: '#0000ff',
                applyMatrix: true,
            })
        ],
        applyMatrix: false,
    })
    path3.position.x = 75;
    path3.position.y = 75;
}
</script>

</html>
