@import 'Editor/_wickbrand.scss';
@import '../_wickcodedetailspanel.scss';

#code-editor-reference {
  width: $code-editor-details-width;
  height: 100%;
  background-color: $editor-popout-secondary;
  float: none;
  color: $editor-popout-secondary-text; 
  cursor: pointer;
}
