/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';

$action-button-transition-duration: .2s;

.action-button {
  width: 100%;
  height: 100%;
}

// Button color schemes
.action-button-blue {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: #2719FF;
  color: white;
}

.action-button-blue:hover {
  background-color: #2C45FF;
  color: white;
}

.action-button-blue:active {
  background-color: #2000DD;
  color: white;
}

.action-button-blue.active-button {
  background-color: #2000DD;
  color: white;
}

.action-button-sky {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: #BBF6F0;
  color: black;
}

.action-button-sky:hover {
  background-color: #D3F8F4;
  color: black;
}

.action-button-sky:active {
  background-color: #8DDED6;
  color: black;
}

.action-button-sky.active-button {
  background-color: #8DDED6;
  color: black;
}

.action-button-red {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: #FD384C;
  color: white;
}

.action-button-red:hover {
  background-color: #FF5372;
  color: white;
}

.action-button-red:active {
  background-color: #E61E07;
  color: white;
}

.action-button-red.active-button {
  background-color: #E61E07;
  color: white;
}

.action-button-green {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: #00D9A7;
  color: black;
}

.action-button-green:hover {
  background-color: #29F1A3;
  color: black;
}

.action-button-green:active {
  background-color: #01C094;
  color: black;
}

.action-button-green.active-button {
  background-color: #01C094;
  color: black;
}

.action-button-yellow {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: #FFC835;
  color: black;
}

.action-button-yellow:hover {
  background-color: #FFE243;
  color: black;
}

.action-button-yellow:active {
  background-color: #E9AA02;
  color: black;
}

.action-button-yellow.active-button {
  background-color: #E9AA02;
  color: black;
}

.action-button-tool {
  -webkit-transition-duration: $action-button-transition-duration; /* Safari */
  transition-duration: $action-button-transition-duration;

  background-color: $interface-primary;
  color: black;
}

.action-button-tool:hover {
  background-color: $wick-green-light;
  color: black;
}

.action-button-tool:active {
  background-color: $wick-green-dark;
  color: black;
}

.action-button-tool.active-button {
  background-color: $wick-green-dark;
  color: black;
}
