#preloader {
  background-color: #1EE29A;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000000;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease 0s;
}

.animated {
    animation-iteration-count: infinite;
}

.flashy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    animation: float .6s ease-in-out infinite alternate;
}

.flashy-shadow {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    margin-left: -45px;
    margin-top: -22.5px;
    width: 90px;
    height: 45px;
    animation: pulse .6s ease-in-out infinite alternate;
}

.text {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 30px;
    animation: pulse 1.2s ease-in-out infinite alternate;
}

@keyframes float {
    0% {top: 48%;}
    100% {top:50%;}
}

@keyframes pulse {
    0% {transform: scale3d(.9, .9, .9);}
    100% { transform: scale3d(1, 1, 1); }
}
