@import 'Editor/_wickbrand.scss';
@import '../_inspector.scss';

$inspector-element-margin: 4px;
$icon-width: $inspector-row-height;
$input-margin: calc(2*#{$inspector-element-margin});
$input-space: calc(calc(100% - #{$icon-width}) - #{$input-margin});
$single-input-size: $input-space;
$double-input-container-width: $input-space;
$double-input-divider-width: calc(#{$input-space} * 0.1);
$double-input-unit-width: calc(#{$input-space} * 0.45);

.inspector-row {
  width: 100%;
  height: 100%;
}

.input-icon {
  height: 100%;
  display: inline-block;
}

.inspector-input-element {
  display: inline-block;
  height: 100%;
  margin-left: $inspector-element-margin;
  margin-right: $inspector-element-margin;
}

.single-input-element {
  width: $single-input-size;
}

.double-input-element {
  width: $double-input-unit-width;
}

.input-divider {
  color: $interface-primary-text;
  width: $double-input-divider-width;
  text-align: center;
}

.double-input {
  width: $double-input-container-width;
  display: inline-block;
}
