@import '../wicktabcodeeditor.scss';

.add-script-container {
    overflow: auto; 
    height: calc(100% - 40px - 10px);
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
  }
