@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Allerta');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Almendra+SC');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Antic+Didone');
@import url('https://fonts.googleapis.com/css?family=Antic+Slab');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Average');
@import url('https://fonts.googleapis.com/css?family=Balthazar');
@import url('https://fonts.googleapis.com/css?family=Belgrano');
@import url('https://fonts.googleapis.com/css?family=Belleza');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Cagliostro');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Cambo');
@import url('https://fonts.googleapis.com/css?family=Candal');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Contrail+One');
@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Dorsa');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Erica+One');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');
@import url('https://fonts.googleapis.com/css?family=Fauna+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Fresca');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Gafata');
@import url('https://fonts.googleapis.com/css?family=Galdeano');
@import url('https://fonts.googleapis.com/css?family=Geostar+Fill');
@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Gilda+Display');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Goblin+One');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Habibi');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');
@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css?family=Iceberg');
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Imprima');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Inder');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Julee');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Keania+One');
@import url('https://fonts.googleapis.com/css?family=Kite+One');
@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Kotta+One');
@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lemon');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');
@import url('https://fonts.googleapis.com/css?family=Lustria');
@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Marko+One');
@import url('https://fonts.googleapis.com/css?family=Mate+SC');
@import url('https://fonts.googleapis.com/css?family=Medula+One');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Montaga');
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Noticia+Text');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Passero+One');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Pompiere');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Sans');
@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab');
@import url('https://fonts.googleapis.com/css?family=Prociono');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Ruluko');
@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Slackey');
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Spinnaker');
@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Strait');
@import url('https://fonts.googleapis.com/css?family=Tauri');
@import url('https://fonts.googleapis.com/css?family=Telex');
@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Trykker');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook');
@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Voltaire');
@import url('https://fonts.googleapis.com/css?family=Wendy+One');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.font-selector-Abel{font-family:'Abel';}
.font-selector-Abril-Fatface{font-family:'Abril Fatface';}
.font-selector-Allerta{font-family:'Allerta';}
.font-selector-Allerta-Stencil{font-family:'Allerta Stencil';}
.font-selector-Almendra-SC{font-family:'Almendra SC';}
.font-selector-Amatic-SC{font-family:'Amatic SC';}
.font-selector-Annie-Use-Your-Telescope{font-family:'Annie Use Your Telescope';}
.font-selector-Antic-Didone{font-family:'Antic Didone';}
.font-selector-Antic-Slab{font-family:'Antic Slab';}
.font-selector-Anton{font-family:'Anton';}
.font-selector-Architects-Daughter{font-family:'Architects Daughter';}
.font-selector-Archivo-Narrow{font-family:'Archivo Narrow';}
.font-selector-Arimo{font-family:'Arimo';}
.font-selector-Arvo{font-family:'Arvo';}
.font-selector-Assistant{font-family:'Assistant';}
.font-selector-Average{font-family:'Average';}
.font-selector-Balthazar{font-family:'Balthazar';}
.font-selector-Belgrano{font-family:'Belgrano';}
.font-selector-Belleza{font-family:'Belleza';}
.font-selector-Bitter{font-family:'Bitter';}
.font-selector-Boogaloo{font-family:'Boogaloo';}
.font-selector-Bubbler-One{font-family:'Bubbler One';}
.font-selector-Cabin{font-family:'Cabin';}
.font-selector-Cagliostro{font-family:'Cagliostro';}
.font-selector-Cairo{font-family:'Cairo';}
.font-selector-Cambo{font-family:'Cambo';}
.font-selector-Candal{font-family:'Candal';}
.font-selector-Catamaran{font-family:'Catamaran';}
.font-selector-Ceviche-One{font-family:'Ceviche One';}
.font-selector-Chela-One{font-family:'Chela One';}
.font-selector-Cinzel{font-family:'Cinzel';}
.font-selector-Contrail-One{font-family:'Contrail One';}
.font-selector-Convergence{font-family:'Convergence';}
.font-selector-Crimson-Text{font-family:'Crimson Text';}
.font-selector-Damion{font-family:'Damion';}
.font-selector-Dancing-Script{font-family:'Dancing Script';}
.font-selector-Domine{font-family:'Domine';}
.font-selector-Dorsa{font-family:'Dorsa';}
.font-selector-Dosis{font-family:'Dosis';}
.font-selector-Erica-One{font-family:'Erica One';}
.font-selector-Euphoria-Script{font-family:'Euphoria Script';}
.font-selector-Fauna-One{font-family:'Fauna One';}
.font-selector-Fira-Sans-Condensed{font-family:'Fira Sans Condensed';}
.font-selector-Fjalla-One{font-family:'Fjalla One';}
.font-selector-Francois-One{font-family:'Francois One';}
.font-selector-Fresca{font-family:'Fresca';}
.font-selector-Fugaz-One{font-family:'Fugaz One';}
.font-selector-Gafata{font-family:'Gafata';}
.font-selector-Galdeano{font-family:'Galdeano';}
.font-selector-Geostar-Fill{font-family:'Geostar Fill';}
.font-selector-Germania-One{font-family:'Germania One';}
.font-selector-Gilda-Display{font-family:'Gilda Display';}
.font-selector-Gloria-Hallelujah{font-family:'Gloria Hallelujah';}
.font-selector-Goblin-One{font-family:'Goblin One';}
.font-selector-Gochi-Hand{font-family:'Gochi Hand';}
.font-selector-Graduate{font-family:'Graduate';}
.font-selector-Habibi{font-family:'Habibi';}
.font-selector-Hind-Madurai{font-family:'Hind Madurai';}
.font-selector-Hind-Siliguri{font-family:'Hind Siliguri';}
.font-selector-Holtwood-One-SC{font-family:'Holtwood One SC';}
.font-selector-Homenaje{font-family:'Homenaje';}
.font-selector-Iceberg{font-family:'Iceberg';}
.font-selector-Iceland{font-family:'Iceland';}
.font-selector-Imprima{font-family:'Imprima';}
.font-selector-Inconsolata{font-family:'Inconsolata';}
.font-selector-Inder{font-family:'Inder';}
.font-selector-Indie-Flower{font-family:'Indie Flower';}
.font-selector-Italiana{font-family:'Italiana';}
.font-selector-Julee{font-family:'Julee';}
.font-selector-Kanit{font-family:'Kanit';}
.font-selector-Keania-One{font-family:'Keania One';}
.font-selector-Kite-One{font-family:'Kite One';}
.font-selector-Knewave{font-family:'Knewave';}
.font-selector-Kotta-One{font-family:'Kotta One';}
.font-selector-Krona-One{font-family:'Krona One';}
.font-selector-Lato{font-family:'Lato';}
.font-selector-Lemon{font-family:'Lemon';}
.font-selector-Libre-Barcode-128{font-family:'Libre Barcode 128';}
.font-selector-Libre-Barcode-39{font-family:'Libre Barcode 39';}
.font-selector-Libre-Barcode-39-Extended{font-family:'Libre Barcode 39 Extended';}
.font-selector-Libre-Barcode-39-Extended-Text{font-family:'Libre Barcode 39 Extended Text';}
.font-selector-Libre-Barcode-39-Text{font-family:'Libre Barcode 39 Text';}
.font-selector-Libre-Franklin{font-family:'Libre Franklin';}
.font-selector-Lilita-One{font-family:'Lilita One';}
.font-selector-Lily-Script-One{font-family:'Lily Script One';}
.font-selector-Lobster{font-family:'Lobster';}
.font-selector-Loved-by-the-King{font-family:'Loved by the King';}
.font-selector-Lustria{font-family:'Lustria';}
.font-selector-Macondo-Swash-Caps{font-family:'Macondo Swash Caps';}
.font-selector-Marko-One{font-family:'Marko One';}
.font-selector-Mate-SC{font-family:'Mate SC';}
.font-selector-Medula-One{font-family:'Medula One';}
.font-selector-Merienda-One{font-family:'Merienda One';}
.font-selector-Montaga{font-family:'Montaga';}
.font-selector-Mr-Bedfort{font-family:'Mr Bedfort';}
.font-selector-Mukta{font-family:'Mukta';}
.font-selector-News-Cycle{font-family:'News Cycle';}
.font-selector-Nothing-You-Could-Do{font-family:'Nothing You Could Do';}
.font-selector-Noticia-Text{font-family:'Noticia Text';}
.font-selector-Noto-Sans{font-family:'Noto Sans';}
.font-selector-Numans{font-family:'Numans';}
.font-selector-Nunito{font-family:'Nunito';}
.font-selector-Nunito-Sans{font-family:'Nunito Sans';}
.font-selector-Offside{font-family:'Offside';}
.font-selector-Open-Sans{font-family:'Open Sans';}
.font-selector-Oswald{font-family:'Oswald';}
.font-selector-Overlock-SC{font-family:'Overlock SC';}
.font-selector-Pacifico{font-family:'Pacifico';}
.font-selector-Passero-One{font-family:'Passero One';}
.font-selector-Pathway-Gothic-One{font-family:'Pathway Gothic One';}
.font-selector-Patua-One{font-family:'Patua One';}
.font-selector-Permanent-Marker{font-family:'Permanent Marker';}
.font-selector-Plaster{font-family:'Plaster';}
.font-selector-Play{font-family:'Play';}
.font-selector-Playfair-Display{font-family:'Playfair Display';}
.font-selector-Poller-One{font-family:'Poller One';}
.font-selector-Pompiere{font-family:'Pompiere';}
.font-selector-Poppins{font-family:'Poppins';}
.font-selector-Port-Lligat-Sans{font-family:'Port Lligat Sans';}
.font-selector-Port-Lligat-Slab{font-family:'Port Lligat Slab';}
.font-selector-Prociono{font-family:'Prociono';}
.font-selector-Questrial{font-family:'Questrial';}
.font-selector-Quicksand{font-family:'Quicksand';}
.font-selector-Raleway{font-family:'Raleway';}
.font-selector-Rammetto-One{font-family:'Rammetto One';}
.font-selector-Righteous{font-family:'Righteous';}
.font-selector-Roboto{font-family:'Roboto';}
.font-selector-Roboto-Mono{font-family:'Roboto Mono';}
.font-selector-Rochester{font-family:'Rochester';}
.font-selector-Ropa-Sans{font-family:'Ropa Sans';}
.font-selector-Ruluko{font-family:'Ruluko';}
.font-selector-Sail{font-family:'Sail';}
.font-selector-Shadows-Into-Light{font-family:'Shadows Into Light';}
.font-selector-Shadows-Into-Light-Two{font-family:'Shadows Into Light Two';}
.font-selector-Slabo-27px{font-family:'Slabo 27px';}
.font-selector-Slackey{font-family:'Slackey';}
.font-selector-Sofia{font-family:'Sofia';}
.font-selector-Source-Code-Pro{font-family:'Source Code Pro';}
.font-selector-Source-Sans-Pro{font-family:'Source Sans Pro';}
.font-selector-Source-Serif-Pro{font-family:'Source Serif Pro';}
.font-selector-Spinnaker{font-family:'Spinnaker';}
.font-selector-Squada-One{font-family:'Squada One';}
.font-selector-Strait{font-family:'Strait';}
.font-selector-Tauri{font-family:'Tauri';}
.font-selector-Telex{font-family:'Telex';}
.font-selector-Text-Me-One{font-family:'Text Me One';}
.font-selector-Titillium-Web{font-family:'Titillium Web';}
.font-selector-Trykker{font-family:'Trykker';}
.font-selector-Tulpen-One{font-family:'Tulpen One';}
.font-selector-Ubuntu-Condensed{font-family:'Ubuntu Condensed';}
.font-selector-UnifrakturCook{font-family:'UnifrakturCook';}
.font-selector-Unlock{font-family:'Unlock';}
.font-selector-Vampiro-One{font-family:'Vampiro One';}
.font-selector-Viga{font-family:'Viga';}
.font-selector-Vollkorn{font-family:'Vollkorn';}
.font-selector-Voltaire{font-family:'Voltaire';}
.font-selector-Wendy-One{font-family:'Wendy One';}
.font-selector-Yanone-Kaffeesatz{font-family:'Yanone Kaffeesatz';}

.existing-font{background-color: #D3F8F4;}