@import 'Editor/_wickbrand.scss';

$inspector-left-padding: 10px;
$inspector-selection-icon-size: 40px;

.inspector {
  background-color: $sleepy-sky-dark;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
