@import 'Editor/_wickbrand.scss';

$inspector-left-padding: 10px;
$inspector-selection-icon-size: 40px;

.inspector {
  background-color: $sleepy-sky-dark;
}

.selection-name-container {
  display: flex;
  position: relative;
  padding-left: $inspector-left-padding;
}

.selection-icon {
  width: $inspector-selection-icon-size;
  height: $inspector-selection-icon-size;
}

.selection-name {
  font-size: 28px;
  padding-left: 10px;
  color: $heather-grey-light;
  text-align: center;
  line-height: $inspector-selection-icon-size;
}
