.editor-info-modal-container {
    width: 250px;
    height: 300px;
}
.editor-info-icon {
    width: 100px;
    height: 100px; 
    margin: 0 auto; 
    margin-bottom: 8px;
}

.editor-info-version {
    color: white;
}