@import 'Editor/_wickbrand.scss';

.tool-button {
  padding: 0px;
  height: 40px;
  width: 100%;
  border-radius: $interface-roundness-secondary;
  background-color: $interface-primary;
  border: none;
  color: $interface-secondary-text;
  margin: 0 auto;
  margin-top: 6px;
  transition: .3s;
}

.tool-button:hover {
  background-color: $wick-green-light;
  color: $interface-tertiary-text;
  transition: .3s;
  cursor: pointer;
}

.active-tool {
  background-color: $wick-green-dark;
  color: $interface-tertiary-text;
  transition: .1s;
}
