/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';

.tool-button {
  padding: 0px;
  height: 40px;
  width: 100%;
  border-radius: $interface-roundness-secondary;
  background-color: $interface-primary;
  border: none;
  color: $interface-secondary-text;
  margin: 0 auto;
  margin-top: 6px;
  transition: .3s;
}

.tool-button:hover {
  background-color: $wick-green-light;
  color: $interface-tertiary-text;
  transition: .3s;
  cursor: pointer;
}

.active-tool {
  background-color: $wick-green-dark;
  color: $interface-tertiary-text;
  transition: .1s;
}
