/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

 @import 'Editor/_wickbrand.scss';

.keyboard-shortcuts-modal-body {
  width: 500px;
  height: 350px;
  overflow-y: scroll;
}

.keyboard-shortcuts-container {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 100%;
  width: 100%; 
}

.keyboard-shortcuts-modal-row {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: left;
  border-bottom: 1px solid gray;
}

.keyboard-shortcuts-modal-name-cell {
  height: 100%; 
  width: 40%;
  color: $editor-modal-text-gray;
  padding-left: 2px; 
}

.keyboard-shortcuts-modal-key-cell {
  height: 100%;
  width: 30%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 2px; 
  font-size: 18px; 
}
.keyboard-shortcuts-modal-key-cell:last-child {
  border: none; 
}

#keyboard-shortcuts-modal-title {
  font-size: 18px;
  color: $editor-modal-text-gray;
  font-weight: bold; 
  text-align: center;
}

.keyboard-shortcut-key {
  margin: 1px; 
}

// Found on MDN at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }

 .keyboard-shortcuts-key-icon-container {
  color: $editor-modal-text-gray; 
 }