/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';

.menu-bar {
  height: 100%;
  width: 100%;
  background-color: $editor-primary;
  overflow: visible;
  border: $editor-outline-padding solid $editor-primary-outline;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.menu-bar-project-name {
  transition: .4s;
  font-size: 18px;
  font-family: 'Nunito Sans';
  float: left;
  margin: 4px;
  margin-left: 8px;
  color: $editor-menubar-project-text;
  cursor: pointer;
}

.menu-bar-project-name:hover {
  color: $editor-menubar-option-text;
}

.menu-bar-actions-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Nunito Sans';
  float: right;
  position:absolute;
  right: 0;
  height: calc(100% - 2 * #{$editor-outline-padding});
}

.project-settings-preview {
  height: 100%;
  display: flex;
  align-items: center;
}

.project-settings-image {
  height: 80%;
  padding-left: 8px;
  padding-right: 16px;
  cursor: pointer;
}
