@import 'Editor/_wickbrand.scss';

$canvas-transforms-size: 40px;

.canvas-transforms-widget {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: $canvas-transforms-size;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: $editor-primary-outline;
  border-radius: 4px;
}

#canvas-zoom-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#zoom-tool-container {
  width: $canvas-transforms-size;
  height: $canvas-transforms-size;
}

.canvas-transform-item {
  padding: 2px;
}

.canvas-transform-button {
  width: $canvas-transforms-size;
  height: $canvas-transforms-size;
  padding: 2px;
}

.thin-transform-button {
  width: calc(#{$canvas-transforms-size} * .7);
}

.canvas-transform-icon {
  width: 90%; 
}

.play-button {
  width: calc(#{$canvas-transforms-size} * .9);
  height: calc(#{$canvas-transforms-size} * .9);
}

.play-button-container {
  width: $canvas-transforms-size;
  height: $canvas-transforms-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transforms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
