/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';

$settings-input-size: 25px;

.settings-text-label {
  color: $editor-primary-property-text;
  font-size: 12px;
  bottom: 0px;
  text-align: center;
}

.settings-numeric-input-container {
  padding-top: 4px;
  height: 100%;
  width: 80%;
}

.settings-numeric-input {
  height: $settings-input-size;
}

.settings-slider-wick-input-container {
  height: $settings-input-size;
}

.settings-checkbox-wick-input-container {
  height: $settings-input-size;
  width: $settings-input-size;
}

.settings-numeric-wick-input-container {
  width: 100%;
  height: $settings-input-size;
}

.setting-input-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
