
.theme-default {
    --border-radius-primary: 8px;
    --border-radius-secondary: 4px;

    /* Main Colors */
    --wick-primary: #303030;
    --wick-secondary: #3B3B3B;
    --wick-tertiary: #3F3D3D;


    /* Text Colors */
    --wick-text-primary: white;
    --wick-text-secondary: #BDBDBD;
    --wick-text-tertiary: #919191;

    /* Shadows */
    --wick-box-shadow: 2px 2px 8px var(--wick-primary); 
}