.we-modal-title {
    color: var(--wick-text-primary);
    font-size: 20px;
    text-align: left;
    width: 100%;
}

.we-modal-subtitle {
    color: var(--wick-text-secondary);
    text-align: left;
    width: 100%;
}

.we-modal-content {
    width: 100%;
    flex: 1;
    margin-top: var(--large-padding);
}