@import 'Editor/_wickbrand.scss';

.wick-input {
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: $interface-input-roundness;
  border: none;
  background-color: $interface-quaternary;
  color: $interface-tertiary-text;
}
