.we-export-module {
  width: 100%;
  background-color: var(--wick-secondary);
  border-radius: var(--border-radius-secondary);
  padding: var(--large-padding);
  margin-top: var(--large-padding);
}

.we-export-title {
  color: white;
  font-weight: bold;
  margin-bottom: var(--small-padding);
}

.export-modal {
  font-family: 'Nunito';
}