/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';
@import '../_inspector.scss';

.inspector-title {
  height: 50px;
  padding-left: $inspector-padding;
  padding-right: $inspector-padding;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.inspector-title-name {
  font-size: 30px;
  color: $editor-primary-property-text;
  font-family: 'Nunito Sans';
  display: inline-block;
}

.inspector-title-selection-type {
  height: 80%;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: $editor-menubar-project-text;
  margin-left: 20px;
}

.inspector-selection-type-icon-container {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
}
