.onion-skin-button {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-color: cyan;
    cursor: pointer;
    z-index: 2;
    border-radius: 4px;
}

.onion-skin-button:hover {
    background-color: orange;
}

.onion-skin-button:active {
    background-color: red;
}
