@import 'Editor/_wickbrand.scss';
@import '../CanvasTransforms/canvastransforms';

.delete-copy-paste-widget {
    position: absolute;
    left: 0px;
    top: 0px;
    height: $canvas-transforms-size;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    background-color: $editor-primary-outline;
    border-radius: 4px;
}

.delete-copy-paste-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2px;
  }

.disabled {
    opacity: 0.25;
}