@import 'Editor/_wickbrand.scss';

.title-box {
  position: relative;
  background-color: $interface-secondary;
  color: $interface-secondary-text;

  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: $interface-roundness-primary;
  text-align: center;
}
