@import 'Editor/_wickbrand.scss';

.react-tabs {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  height: 100%;

  &__tab-list {
    width:100%;
    margin: 0 0 0px;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    min-height: 30px;
  }

  &__tab {
    display: inline-block;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 3px 6px;
    cursor: pointer;
    background-color: $interface-secondary;
    color: $interface-secondary-text;
    border-radius: 5px 5px 0 0;

    &--selected {
      background: $interface-tertiary;
      border-color: $interface-quaternary;
      color: $interface-tertiary-text;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

    }
  }

  &__tab-panel {
    display: none;
    width: 100%;
    height: 100%;

    &--selected {
      display: block;
      background-color: $interface-tertiary;
      height: 100%;
    }
  }
}

.react-tab-yellow {
  background-color: $wick-yellow-dark;
  color: $wick-yellow-text;
}

.react-tab-yellow.react-tabs__tab--selected {
  background-color: $wick-yellow-light;
}

.react-tab-red {
  background-color: $wick-red-dark;
  color: $wick-red-text;
}

.react-tab-red.react-tabs__tab--selected {
  background-color: $wick-red-light;
}

.react-tab-sky {
  background-color: $sleepy-sky-dark;
  color: $sleepy-sky-text;
}

.react-tab-sky.react-tabs__tab--selected {
  background-color: $sleepy-sky-light;
}

.react-tab-green {
  background-color: $wick-green-dark;
  color: $wick-green-text;
}

.react-tab-green.react-tabs__tab--selected {
  background-color: $wick-green-light;
}
