@import 'Editor/_wickbrand.scss';
@import '../_popoutcodeditor.scss';

.code-editor-tab-code-editor {
  height: 100%;
}

.code-tab-delete {
  width: 30px;
  min-width: 30px;
  height: 100%;
  float: left;
}

#add-scripts-panel-container {
  width: 100%;
  height: calc(100% - #{$editor-tab-list-height};
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}
