@import 'Editor/_wickbrand.scss';

$asset-library-padding: 6px;

.asset-library {
  background-color: $flame;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $interface-primary;
  margin-bottom: 10px;
}

.asset-container {
  padding-left: $asset-library-padding;
  padding-right: $asset-library-padding;
  margin-top: 4px;
  height: inherit;
  overflow-y: auto;
  margin-bottom: 50px;
}

.asset-node {
  border-radius: $interface-roundness-primary;
  padding-left: 4px;
  background-color: $interface-secondary;
  color: $interface-secondary-text;
  margin-top: 2px;
  width: 100% ;
}

.filter-bar {
  height: 20px;
  padding-left: $asset-library-padding;
  padding-right: $asset-library-padding;
}

.asset-node:hover {
    cursor: grab;
}

.btn-container {
  display: table;
  margin-left: auto;
  margin-right: 0;
  width: auto;

}

.btn-asset-action {
  display: table-cell;
  margin-left: 2px;
  margin-right: 2px;
  padding:2px;
}
