/*
 * Copyright 2018 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'Editor/_wickbrand.scss';

$code-editor-drag-handle-height: 30px;

#code-editor-resizeable {
  z-index: 1000;
  background-color: $interface-primary;
  border: none;
}

#ace-editor {
  height: 100% !important;
  width: 100% !important;
  box-sizing: border-box;
}

.code-editor-drag-handle {
  background-color: $interface-secondary;
  width: 100%;
  height: $code-editor-drag-handle-height;
  cursor: grab;
}

.code-editor-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $interface-primary-text;
  float: left;
  height: 100%;
  margin-left: 6px;
}

.code-editor-selection-type {
  margin-left: 4px;
  color: $interface-secondary-text;
}

.code-editor-body {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$code-editor-drag-handle-height});
  overflow: hidden;
}

.code-editor-close-button {
  height: 100%;
  width: $code-editor-drag-handle-height;
  padding: 2px;
  float: right;
}

.code-editor-unscriptable-warning {
  width: 100%;
  height: 100%;
  background-color: $interface-tertiary;
  color: $interface-tertiary-text;
  padding-left: 6px;
}
