@import 'Editor/_wickbrand.scss';
@import '../../outliner';

$outliner-dropdown-size: 15px;

.outliner-dropdown-icon {
  position: relative;
  z-index: 0;
  margin-left: $outliner-icon-spacing;
  vertical-align: middle;
  width: $outliner-dropdown-size;
  height: $outliner-dropdown-size;
}

.expanded {
  transform: rotate(90deg);
}

.empty {
  padding: calc(#{$outliner-dropdown-size} * .3);
}