@import 'Editor/_wickbrand.scss';

.outliner-dropdown-icon {
  position: relative;
  z-index: 1;
  margin-left: 3px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.collapsed {
    transform: rotate(0deg);
  }

.expanded {
  transform: rotate(90deg);
}

.empty {
  width: 15px;
  padding: 4px;
}