@import '../../styles/_editortheme.scss';

$inspector-left-padding: 10px;

.inspector {
  width: 100%;
  height: 100%;
  background-color: $deep-cereulian-light;
}

.selection-name-container {
  display: flex;
  position: relative;
  padding-left: $inspector-left-padding;
}

.selection-icon {
  width: 50px;
  height: 50px;
}

.selection-name {
  font-size: 2em;
  padding-left: 10px;
  color: $heather-grey-light;
}
