@import 'Editor/_wickbrand.scss';

$button-height: 39px;

.outliner-expand-button {
    position: absolute;
    top: 35px;
    right: 0px;
    height: $button-height;
    width: $button-height;
    color: $editor-primary-text;
    background-color: $editor-primary;
    border: 4px solid $editor-primary-outline;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-width: 0;
    transition: background-color 200ms ease-in-out;
}
.outliner-expand-button:hover {
    background-color: $editor-secondary;
}